{% extends 'base.html.twig' %}

{% block title %}Welcome to my Portfolio !
{% endblock %}

{% block body %}
<!-- partie PORTFOLIO -->
<div class="row container-fluid">

    <div class="col-12 portfolio">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
            {# boucle dynamique sauf pour squid game en attente #}
                {% for projet in projets %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <h3>{{ projet.title }}</h3>
            <img class="d-block w-100" src="{{ asset('build/images/' ~ projet.image) }}" alt="{{ projet.title }}">
            <div class="carousel-caption d-md-block">
                <a class="btn-portfolio" href="{{ projet.link }}" target="_blank" rel="noreferrer noopener">VOIR</a>
            </div>
        </div>
    {% endfor %}
                <div class="carousel-item">
                    <h3>Jeu Squid Game</h3>
                    <img class="d-block w-100" src="{{ asset('build/images/squid.jpg') }}" alt="Squid Game">
                    <div class="carousel-caption d-md-block">
                        <a class="btn-portfolio" href="{{path('app_construction')}}"  rel="noreferrer noopener">VOIR</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}
